body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a{
	text-decoration: none;
	background: url(../images/manage_03.gif) no-repeat 0px 0px;
	text-align: center;
	display: block;
	height: 30px;
	width: 203px;
	color: #555;
	padding-top: 9px;
}
a:hover{
    text-decoration: underline ;
	background: url(../images/manage_031.jpg) no-repeat 0px 0px;
	text-align: center;
	display: block;
	height: 30px;
	width: 203px;
	color: #555;
	padding-top: 9px;
}

#menu {
	font-size: 12px;
	margin-top: 5px;	
}
#menu ul { list-style: none; 
           margin: 0px; 
		   padding: 0px;  
}
#menu ul li {
}
